<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ .Title }}</title>

    {{ $style := resources.Get "styles/styles.css" | resources.PostCSS (dict "inlineImports" true) | resources.Minify |
    resources.Fingerprint "sha512" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" />

    <!-- TODO: Self-host fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Nunito+Sans:wght@400;700;800;900&display=swap"
      rel="stylesheet"
    />

    {{ $script := resources.Get "scripts/script.js" | resources.Minify | resources.Fingerprint "sha512" }}
    <script src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>
  </head>

  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
      {{ $icons := resources.Match "icons/*.svg" }}
      {{ range $icons }}
        {{ $icon := resources.Get . }}
        {{ $icon.Content | safeHTML }}
      {{ end }}
    </svg>

    {{ partial "header" . }}

    <main data-navigation-id="outside">
      {{ block "main" . }} {{ end }}
    </main>

    {{ partial "footer" . }}
  </body>
</html>
