/* Article */

.article {
  font-family: 'Merriweather', 'Times New Roman', serif;
  color: #333;
  font-size: 1.0625rem;
  line-height: 1.9;
}

.article__header {
  padding: 128px 64px 96px 64px;
  text-align: center;
}

.article__subtitle {
  margin-bottom: 0; /* reset */
  margin-top: 0.375em;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  color: #333;
}

@media (min-width: 720px) {
  .article__subtitle {
    font-size: 1.875rem;
  }
}

.article__metadata {
  margin-top: 1.5em;
  margin-bottom: 0;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
}

.article__metadata-separator {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.article__content {
  /* improve readability by restricting content width to 60 characters */
  /* see <https://baymard.com/blog/line-length-readability> */
  max-width: 65ch;
  margin-left: auto;
  margin-right: auto;
}
