/* Article */

.article {
  padding-top: 64px;
  padding-bottom: 64px;
  color: #333;
  font-size: 1.0625rem;
  line-height: 1.9;
}

/* Article header */

.article__header {
  padding: 64px;
  text-align: center;
}

.article__metadata {
  margin-top: 16px;
  margin-bottom: 8px;
}

.article__metadata-separator {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.article__tags {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.article__tag {
  padding-inline-start: 0.875em;
  padding-inline-end: 0.875em;
  padding-block-start: 0.4em;
  padding-block-end: 0.4em;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  color: #16374c;
  background-color: #def0fc;
  border-radius: 100px;
  white-space: nowrap;
}

/* Article content */

.article__content {
  /* Improve readability by restricting content width based on characters */
  /* See <https://baymard.com/blog/line-length-readability> */
  max-width: 62ch;
  font-family: 'Merriweather', 'Times New Roman', serif;
  margin-left: auto;
  margin-right: auto;
}
