/*
  Components: Header
*/

.header {
  padding: 32px 128px;
  background-color: #24292e;
  color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin-top: 0;
  margin-bottom: 0;
}

.header__title-link {
  display: flex;
  padding: 4px 8px;
  border-radius: 1px;
  background-color: #fff;
  color: #24292e;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}

.header__navigation {
}

.header__navigation-list {
  display: flex;
  gap: 16px;
}

.header__navigation-link {
  display: block;
  padding: 8px 16px;
  border-radius: 1px;
  color: #999;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  background-color: #32393f;
}

.header__navigation-link.is-active {
  background-color: #32393f;
  color: #fff;
}

.header__navigation-link.is-active:hover,
.header__navigation-link.is-active:focus {
  background-color: #32393f;
  color: #fff;
}
