/* Header */

.header {
  position: relative; /* has absolute positioned children */
  height: 64px;
  background-color: #16374c;
  color: #fff;
}

@media (min-width: 768px) {
  .header {
    position: unset;
    height: 72px;
  }
}

.header__container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .header__bar {
    display: none;
  }
}

/* Title */

.title {
  margin-top: 0; /* reset */
  margin-bottom: 0; /* reset */
}

.title__link {
  display: flex;
  padding: 4px 12px 3px;
  border-radius: 1px;
  background-color: #fff;
  color: #16374c;
  border: none; /* reset */
  font-size: 1rem;
  font-weight: 700;
}

.title__link:hover,
.title__link:focus,
.title__link:active {
  background-color: #fff;
}

/* Navigation */

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: -1;
}

@media (min-width: 768px) {
  .navigation {
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    display: unset;
    justify-content: unset;
    align-items: unset;
    z-index: unset;
  }
}

.navigation::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #16374c;
  z-index: -1; /* behind navigation content */
}

@media (min-width: 768px) {
  .navigation::before {
    content: unset;
    position: unset;
    top: unset;
    left: unset;
    width: unset;
    height: unset;
    background-color: unset;
  }
}

.navigation__button {
  display: flex;
  padding: 3px 5px;
  margin-right: 16px;
  border: none; /* reset */
  background-color: transparent; /* reset */
  color: #fff;
  border-radius: 1px;
  overflow: hidden; /* prevent weird visual glitching of focus outline due to internal animations overflowing button constraints */
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.navigation__button:hover,
.navigation__button:focus,
.navigation__button:active {
  background-color: rgba(255, 255, 255, 0.1);
}

.navigation__button.is-pressed,
.navigation__button.is-pressed:hover,
.navigation__button.is-pressed:focus,
.navigation__button.is-pressed:active {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.navigation__list {
  position: absolute;
  bottom: 1px; /* ensure visual connection to .header__bar by overlap */
  left: 0;
  z-index: -2; /* behind .header__bar */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px 16px 16px;
  background-color: #16374c;
  transform: translateY(0);
  visibility: hidden;
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1), visibility 0s linear 0.4s;
}

@media (min-width: 768px) {
  .navigation__list {
    position: unset;
    bottom: unset;
    left: unset;
    z-index: unset;
    width: unset;
    flex-direction: row;
    gap: 16px;
    padding: unset;
    background-color: unset;
    transform: unset;
    visibility: unset;
    transition: unset;
  }
}

.navigation__list.is-visible {
  transform: translateY(100%);
  visibility: visible;
  transition: transform 0.4s cubic-bezier(0.65, 0, 0.35, 1), visibility 0s linear;
}

@media (min-width: 768px) {
  .navigation__list.is-visible {
    transform: unset;
    visibility: unset;
    transition: unset;
  }
}

.navigation__link {
  display: block;
  padding: 8px 12px;
  border-radius: 1px;
  color: rgba(255, 255, 255, 0.6);
  border: unset; /* reset */
  font-weight: 700;
  white-space: nowrap;
  opacity: 0;
  transition: background-color 0.15s ease, color 0.15s ease, opacity 0.25s ease;
}

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.1);
}

.navigation__link.is-active,
.navigation__link.is-active:hover,
.navigation__link.is-active:focus {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

@media (min-width: 768px) {
  .navigation__link {
    opacity: unset;
    transition: background-color 0.15s ease, color 0.15s ease;
  }
}

.navigation__list.is-visible .navigation__link {
  opacity: 1;
  transition: background-color 0.15s ease, color 0.15s ease, opacity 0.25s ease 0.2s;
}

@media (min-width: 768px) {
  .navigation__list.is-visible .navigation__link {
    opacity: unset;
  }
}

.header__backdrop {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s, top 0s linear 0.3s;
}

.header__backdrop.is-visible {
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, visibility 0s linear, top 0s linear;
}

@media (min-width: 768px) {
  .header__backdrop {
    display: none;
  }
}

/* Burger */

.burger {
  transform: rotate(0);
  transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}

.navigation__button.is-pressed .burger {
  transform: rotate(270deg);
}

.burger__group-top {
  transform: translateY(-6px);
}

.burger__group-bottom {
  transform: translateY(6px);
}

.burger__line {
  stroke: currentColor;
  stroke-width: 2px;
  transform-origin: 50% 50%;
}

.burger__line-top {
  transform: translateY(0) rotate(0);
  transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}

.navigation__button.is-pressed .burger__line-top {
  transform: translateY(6px) rotate(45deg);
}

.burger__line-bottom {
  transform: scaleX(1);
  transition: transform 0.4s cubic-bezier(0.37, 0, 0.63, 1);
}

.navigation__button.is-pressed .burger__line-bottom {
  transform: translateY(-6px) rotate(-45deg);
}

.burger__line-middle {
  transform: scaleX(1);
  transition: opacity 0.25s cubic-bezier(0.37, 0, 0.63, 1) 0.1s, transform 0.2s cubic-bezier(0.37, 0, 0.63, 1) 0.1s;
}

.navigation__button.is-pressed .burger__line-middle {
  opacity: 0;
  transform: scaleX(0.1);
}
